/* src/assets/styles/base/_custom.scss  */

// Color
$color: #000;
$bgcolor: #fff;
$white: #fff;
$black: #000;

// Bootstrap
$primary: #f50;
$link-hover-color: #f70;

$navbar-light-color: $black;
$navbar-light-hover-color: $link-hover-color;
$navbar-light-active-color: $primary;

// ---
$textColor: #373737;
$blackGreen: #0C3205;
$greenHeader: #67C101;
$green: #38B124;
$darkGreen: #298819;
$blue: #3B71DE;
$greenWhatsapp: #38B124;
$semiWhite: #F7F7FA;
$grey: #707070;
$strokeGrey: #E1E1E1;

$footerHeight: 545px;
$headerHeight: 99px;
$footerHeaderHeight: calc(#{$footerHeight} + #{$headerHeight});

$maxWidthMobileBreakpoint: 1209px;
$minWidthNotMobileBreakpoint: 1210px;

:root {
  --container-max-width: 1680px;
  --right-based-on-container: 110px;
}