/* src/assets/styles/base/_icons.scss  */

// https://css-tricks.com/using-svg/
// https://stackoverflow.com/questions/13367868/how-to-modify-the-fill-color-of-an-svg-image-when-being-served-as-background-ima
// https://codepen.io/noahblon/post/coloring-svgs-in-css-background-images

.icon-pik {
  display: inline-block;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-color: #fff;

  &.ip-house {
    mask: url('~icons/house.svg') no-repeat 100% 100%;
    -webkit-mask: url('~icons/house.svg') no-repeat 100% 100%;
    mask-size: cover;
    -webkit-mask-size: cover;
  }

  &.ip-caret-down {
    width: 11px;
    height: 8px;
    background-size: 11px 8px;
    mask: url('~icons/caret-down.svg') no-repeat 100% 100%;
    -webkit-mask: url('~icons/caret-down.svg') no-repeat 100% 100%;
    mask-size: cover;
    -webkit-mask-size: cover;
  }

  &.ip-downtown {
    mask: url('~icons/downtown.svg') no-repeat 100% 100%;
    -webkit-mask: url('~icons/downtown.svg') no-repeat 100% 100%;
    mask-size: cover;
    -webkit-mask-size: cover;
  }

  &.ip-shop {
    mask: url('~icons/shop.svg') no-repeat 100% 100%;
    -webkit-mask: url('~icons/shop.svg') no-repeat 100% 100%;
    mask-size: cover;
    -webkit-mask-size: cover;
  }

  &.ip-virtual-reality {
    mask: url('~icons/virtual-reality.svg') no-repeat 100% 100%;
    -webkit-mask: url('~icons/virtual-reality.svg') no-repeat 100% 100%;
    mask-size: cover;
    -webkit-mask-size: cover;
  }

  &.ip-apartment {
    mask: url('~icons/apartment.svg') no-repeat 100% 100%;
    -webkit-mask: url('~icons/apartment.svg') no-repeat 100% 100%;
    mask-size: cover;
    -webkit-mask-size: cover;
  }

  &.ip-telephone {
    width: 43px;
    height: 35px;
    background-size: 43px 35px;
    mask: url('~icons/telephone.svg') no-repeat 100% 100%;
    -webkit-mask: url('~icons/telephone.svg') no-repeat 100% 100%;
    mask-size: cover;
    -webkit-mask-size: cover;
  }

  &.ip-whatsapp {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    mask: url('~icons/whatsapp.svg') no-repeat 100% 100%;
    -webkit-mask: url('~icons/whatsapp.svg') no-repeat 100% 100%;
    mask-size: cover;
    -webkit-mask-size: cover;
  }

  &.ip-instagram {
    width: 36px;
    height: 36px;
    background-size: 36px 36px;
    mask: url('~icons/instagram.svg') no-repeat 100% 100%;
    -webkit-mask: url('~icons/instagram.svg') no-repeat 100% 100%;
    mask-size: cover;
    -webkit-mask-size: cover;
  }

  &.ip-facebook {
    width: 18px;
    height: 33px;
    background-size: 18px 33px;
    mask: url('~icons/facebook.svg') no-repeat 100% 100%;
    -webkit-mask: url('~icons/facebook.svg') no-repeat 100% 100%;
    mask-size: cover;
    -webkit-mask-size: cover;
  }

  &.ip-youtube {
    width: 48px;
    height: 32px;
    background-size: 48px 32px;
    mask: url('~icons/youtube.svg') no-repeat 100% 100%;
    -webkit-mask: url('~icons/youtube.svg') no-repeat 100% 100%;
    mask-size: cover;
    -webkit-mask-size: cover;
  }

  &.ip-arrow-left {
    width: 25px;
    height: 44px;
    background-size: 25px 44px;
    mask: url('~icons/arrow-left.svg') no-repeat 100% 100%;
    -webkit-mask: url('~icons/arrow-left.svg') no-repeat 100% 100%;
    mask-size: cover;
    -webkit-mask-size: cover;
  }

  &.ip-arrow-right {
    width: 25px;
    height: 44px;
    background-size: 25px 44px;
    mask: url('~icons/arrow-right.svg') no-repeat 100% 100%;
    -webkit-mask: url('~icons/arrow-right.svg') no-repeat 100% 100%;
    mask-size: cover;
    -webkit-mask-size: cover;
  }

  &.ip-bathtub {
    width: 59px;
    height: 58px;
    background-size: 59px 58px;
    mask: url('~icons/bathtub.svg') no-repeat 100% 100%;
    -webkit-mask: url('~icons/bathtub.svg') no-repeat 100% 100%;
    mask-size: cover;
    -webkit-mask-size: cover;
  }

  &.ip-bedroom {
    width: 58px;
    height: 58px;
    background-size: 58px 58px;
    mask: url('~icons/bedroom.svg') no-repeat 100% 100%;
    -webkit-mask: url('~icons/bedroom.svg') no-repeat 100% 100%;
    mask-size: cover;
    -webkit-mask-size: cover;
  }
}
