.card-square {
  color: $textColor;
  text-align: center;

  .card-content {
    transition: 0.15s color;

    h4 {
      transition: 0.15s color;
    }
  }

  &:hover {
    text-decoration: none;
    cursor: pointer;

    .card-content {
      color: $green;

      h4 {
        color: $green;
      }
    }
  }
}