/* src/assets/styles/components/_footer.scss */

.footer {
  position: relative;
  background-color: $textColor;
  color: #fff;
  font-size: 24px;
  line-height: 36px;

  .chat-us {
    position: absolute;
    top: -52px;
    right: 110px;
    width: 107px;
    height: 107px;
    border-radius: 100%;
    width: 107px;
    height: 107px;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.25);
    overflow: hidden;

    .btn-chat {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &.chat-whatsapp {
        background-color: $greenWhatsapp;
      }

      .icon-pik {
        width: 38px;
        height: 38px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
      list-style-type: none;
      padding-left: 0;
    }
  }

  .footer-container {
    display: flex;
    padding: 100px 0;

    .footer-nav {
      &.marketing-gallery {
        width: 35%;
      }

      &.contact-us {
        width: 26%;
      }

      &.quick-access {
        width: 25%;
      }

      &.explore {
        width: 24%;
      }

      &.quick-access {
        padding-left: 12px;
      }
    }
  }

  .socmed-list {
    display: flex;

    .item-text {
      + .socmed-item {
        padding-left: 48px;
      }
    }

    .socmed-item {
      + .socmed-item {
        padding-left: 36px;
      }
    }

    .socmed-link {
      &:hover {
        color: $green;
        cursor: pointer;

        .icon-pik {
          background-color: $green;
        }
      }
    }

    &.socmed-button {
      .socmed-item {
        + .socmed-item {
          padding-left: 20px;
        }
      }

      .socmed-link {
        border: 1px solid #fff;
        border-radius: 30px;
        display: flex;
        align-items: center;
        padding: 8px 24px;
        font-size: 16px;
        line-height: 20px;

        .icon-pik {
          + span {
            padding-left: 8px;
          }
        }

        &:hover {
          border-color: $green;
        }
      }
    }
  }

  .footer-item-links {
    font-size: 20px;

    .footer-item-link {
      + .footer-item-link {
        margin-top: 4px;
      }
    }

    .footer-link {
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
        border-bottom: 1px solid #fff;
      }
    }
  }
}

/*
  Responsive
*/

@include media-breakpoint-down(sm) {
}
