/* src/assets/styles/components/_footer.scss */
$footerTextSize: 15.5px;
$footerLineHeight: 30px;

.footer {
  position: relative;
  background-color: $textColor;
  color: #fff;
  font-size: $footerTextSize;
  line-height: $footerLineHeight;

  .chat-us {
    position: absolute;
    top: -50px;
    right: var(--right-based-on-container);
    border-radius: 100%;
    width: 90px;
    height: 90px;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.25);
    overflow: hidden;

    .btn-chat {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &.chat-whatsapp {
        background-color: $greenWhatsapp;
      }

      .icon-pik {
        width: 38px;
        height: 38px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
      list-style-type: none;
      padding-left: 0;
    }
  }

  .footer-container {
    display: flex;
    padding: 52px 0;

    .footer-nav {
      &.marketing-gallery {
        width: 26%;
      }

      &.contact-us {
        width: 33%;
      }

      &.quick-access {
        width: 21%;
      }

      &.explore {
        width: 20%;
      }

      + .footer-nav {
        padding-left: 12px;
      }
    }
  }

  .socmed-list {
    display: flex;

    .item-text {
      + .socmed-item {
        padding-left: 48px;
      }
    }

    .socmed-item {
      + .socmed-item {
        padding-left: 36px;
      }
    }

    .socmed-link {
      &:hover {
        color: $greenHeader;
        cursor: pointer;

        .icon-pik {
          background-color: $greenHeader;
        }
      }
    }

    &.socmed-button {
      .socmed-item {
        + .socmed-item {
          padding-left: 20px;
        }
      }

      .socmed-link {
        border: 1px solid #fff;
        border-radius: 30px;
        display: flex;
        align-items: center;
        padding: 8px 24px;
        font-size: 15.5px;
        line-height: 24px;

        .icon-pik {
          + span {
            padding-left: 8px;
          }
        }

        &:hover {
          border-color: $greenHeader;
        }
      }
    }
  }

  .footer-item-links {
    font-size: $footerTextSize;
    line-height: $footerLineHeight;

    .footer-item-link {
      + .footer-item-link {
        margin-top: 4px;
      }
    }

    .footer-link {
      text-transform: uppercase;
      color: #fff;

      &:hover {
        cursor: pointer;
        border-bottom: 1px solid #fff;
      }
    }
  }
}

/*
  Responsive footer
*/

@media(min-width: 1200px) and (max-width: 1399px) {
  .footer .footer-container .footer-nav {
    &.explore {
      width: 22%;
    }

    &.quick-access {
      width: 19%;
    }
  }
}

@media(max-width: 1199px) {
  .footer {
    .footer-container {
      flex-wrap: wrap;
      margin: 0 -12px 0 -12px;
      padding: 24px 0;

      .footer-nav {
        &.marketing-gallery,
        &.contact-us,
        &.quick-access,
        &.explore {
          width: 50%;
          padding: 24px 12px;
        }

        &.quick-access,
        &.explore {
          border-top: 1px solid rgba(255, 255, 255, 0.15);
        }
      }

      .item-title {
        margin-bottom: 8px !important;
      }
    }

    .footer-item-links {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .footer-item-link {
        margin-bottom: 4px;
        margin-right: 12px;

        + .footer-item-link {
          margin-top: 0;
          position: relative;
          padding-left: 12px;

          &::before {
            content: '';
            position: absolute;
            width: 1px;
            top: 0;
            left: 0;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }
}

@media(max-width: 767px) {
  .footer {
    .footer-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0;
      padding: 48px 0 16px 0;

      .footer-nav {
        &.marketing-gallery,
        &.contact-us,
        &.quick-access,
        &.explore {
          width: 100%;
          padding: 0;
          border-top: 0 solid transparent;
        }

        &.marketing-gallery {
          .pt-5 {
            padding-top: 0 !important;
          }
        }

        + .footer-nav {
          margin-top: 48px;
        }
      }
    }

    .contact-telephone {
      justify-content: center;
      text-align: center;
      padding-top: 8px;

      .ip-telephone {
        width: 32px;
        height: 26px;
        background-size: 32px 26px;
      }
    }

    .socmed-list,
    .footer-item-links {
      justify-content: center;
      text-align: center;
    }

    .socmed-list {
      .ip-facebook {
        width: 15px;
        height: 27px;
        background-size: 15px 27px;
      }

      .ip-instagram {
        width: 27px;
        height: 27px;
        background-size: 27px 27px;
      }

      .ip-youtube {
        width: 41px;
        height: 27px;
        background-size: 41px 27px;
      }
    }
  }
}

@media(max-width: 480px) {
  .footer .socmed-list.socmed-button {
    flex-wrap: wrap;

    .socmed-item {
      width: 100%;

      + .socmed-item {
        padding-left: 0;
        padding-top: 16px;
      }
    }

    .socmed-link {
      justify-content: center;
    }
  }
}

@media(max-width: 767px) {
  .footer {
    .chat-us {
      right: auto;
      left: 50%;
      transform: translateX(-50%);
      width: 90px;
      height: 90px;
      top: -54px;
    }
  }
}
