/* src/assets/styles/components/_header.scss */

$navLinkPY: 36px;

// normal navbar
.header,
.home-page .header.standard {
  background-color: $greenHeader;

  .navbar.navbar-expand-lg {
    padding: 0 40px 4px 60px;
  
    .navbar-brand {
      flex-grow: 1;
      padding: 0;
      margin-right: 0;
  
      img {
        height: 57px;
      }
    }
  
    .nav-item {
      padding: 0 40px;
      
  
      &:last-child {
        padding-right: 0;
  
        .nav-link {
          padding-right: 0;
        }
      }
  
      &.has-child {
        .nav-link {
          &:after {
            content: '';
            display: inline-block;
            width: 11px;
            height: 8px;
            margin-left: 12px;
            background-size: 11px 8px;
            background-image: url('~icons/caret-down.svg');
            transition: 0.15s transform;
          }
        }
  
        &:hover {
          .child-wrapper {
            display: block;
            opacity: 1;
          }
  
          .nav-link {
            &:after {
              transform: rotate(-180deg);
            }
          }
        }
      }
  
      // child menu
      .child-wrapper {
        display: none;
        position: absolute;
        top: $headerHeight;
        left: calc((100vw - 100%) * -1 / 2);
        width: 100vw;
        height: 400px;
        background-color: rgba(103, 193, 1, 0.9);
        color: #fff;
        opacity: 0;
  
        .child-container {
          padding: 58px 132px;
          display: flex;
  
          .child-link {
            color: #fff;
            
            &:not(.title) {
              font-size: 18px;
              line-height: 48px;
            }
    
            &.title {
              font-weight: 700;
              display: flex;
              align-items: center;
  
              .icon-pik {
                + span {
                  margin-left: 8px;
                }
              }
            }
  
            &:not(.title):hover {
              cursor: pointer;
              color: $textColor;
              text-decoration: none;
            }
          }
  
          .child-item {
            + .child-item {
              margin-top: 8px;
            }
          }
  
          .nav-child {
            width: 20%;
            padding-top: 10px;
            padding-bottom: 20px;
  
            + .nav-child {
              position: relative;
              padding-left: 60px;
              width: calc(20% + 60px);
  
              &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 1px;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.5);
              }
            }
          }
        }
      }
  
      ul {
        list-style-type: none;
        padding-left: 0;
  
        li {
          list-style-type: none;
          padding-left: 0;
        }
      }
  
      &.active {
        .nav-link {
          border-bottom: 2px solid #fff;
        }
      }
    }
  
    .nav-link {
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
      padding: $navLinkPY 2px;
      border-bottom: 2px solid transparent;

      &.dropdown {
        padding: 30px 0 33px 2px;

        .dropdown-menu {
          top: calc(100% - 36px);
          min-width: 0;
          border-radius: 0;
          border: 0 solid transparent;
          background-color: $textColor;
          margin: 0;
          padding: 0;
          left: 2px;
          width: calc(100% - 2px);
        }

        .dropdown-item {
          color: $greenHeader;
          padding: 4px 10px;

          &:hover {
            background-color: $textColor;
            text-decoration: underline;
            color: $greenHeader;
          }

          + .dropdown-item {
            border-top: 1px solid $grey;
          }
        }

        .dropdown-toggle {
          border: 0 solid transparent;
          background-color: #fff;
          border-radius: 0;
          padding: 3px 10px;
          color: $greenHeader;
        }
      }
  
      &:not(.dropdown):hover {
        border-bottom: 2px solid #fff;
      }
    }
  
    .navbar-collapse {
      flex-grow: 0;
      padding-bottom: 0;
    }
  }
}

// navbar - homepage only
.home-page {
  .header {
    background-color: transparent;

    .navbar.navbar-expand-lg {
      padding: 45px 40px 0 67px;
      transition: 0.15s background-color, 0.15s padding;
    
      .navbar-brand {
        img {
          height: 148px;
        }
      }
  
      .nav-link {
        padding: 8px 4px;
      }
  
      .navbar-collapse {
        padding-bottom: 52px;
      }
  
      .nav-item {
        padding: 0 20px;
  
        .child-wrapper {
          top: 220px;
        }

        &.active {
          .nav-link {
            border-bottom: 2px solid transparent;
          }
        }
      }
    }
  }
}

/*
    Responsive
*/

@media(min-width: 1920px) {
  .header .navbar.navbar-expand-lg,
  .home-page .header.standard .navbar.navbar-expand-lg {
    max-width: 1920px;
    margin: 0 auto;
  }
}

@include media-breakpoint-down(sm) {
}
