/* src/assets/styles/components/_banner-full.scss */
$widthText: 43%;

.pik-banner {
  position: relative;
  width: 100%;
  overflow: hidden;

  &.banner-full {
    height: 100vh;
  }

  &.full-with-header {
    height: calc(100vh - #{$headerHeight});
  }

  &.banner-slider {
    .slick-list,
    .slick-track,
    .slick-slide > div {
      position: relative;
      height: 100%;
    }
  }

  .banner-item {
    display: block;
    width: 100%;
    height: 100%;
  }

  .banner-image {
    width: 100%;
    height: 100%;
    position: relative;

    img {
      height: 100%;
    }
  }

  .banner-text {
    position: absolute;
    bottom: 190px;
    width: 100%;
    left: 0;
    color: #fff;
    font-size: 36px;
    z-index: 1;

    b {
      font-weight: 800;
    }

    .text-content {
      width: 545px;
    }
  }

  &.green-arrow {
    .arrow-slider {
      .icon-pik {
        background-color: $darkGreen;
      }

      &.arrow-slide-left {
        left: 200px;
      }
  
      &.arrow-slide-right {
        right: 200px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .arrow-slider {
    position: absolute;
    z-index: 1;
    bottom: 120px;

    &:hover {
      cursor: pointer;
    }

    &.arrow-slide-left {
      right: 200px;
    }

    &.arrow-slide-right {
      right: 120px;
    }
  }
}
