.csr-program-page {
  .csr-list {
    list-style-type: none;
    padding: 0;
    margin: 0 -12px -42px -12px;
    display: flex;
    flex-wrap: wrap;

    .csr-item {
      list-style-type: none;
      padding: 0 12px 42px 12px;
      width: 33.33%;
    }
  }
}

@media(max-width: 1199px) {
  .text-xxxxlarge {
    font-size: 55px;
  }

  .text-xxlarge {
    font-size: 40px;
  }
}

@media(max-width: 991px) {
  .csr-program-page {
    .csr-list {
      .csr-item {
        width: 50%;
      }
    }
  }
}

@media(max-width: 767px) {
  .csr-program-page {
    .csr-list {
      .csr-item {
        width: 100%;
      }
    }
  }  
}

@media(max-width: 480px) {
  .csr-program-page {
    .text-xxxxlarge {
      font-size: 32px;
    }
  
    .text-xxlarge {
      font-size: 24px;
    }
  }
}
