/* src/assets/styles/pages/_index.scss  */

.home-page {
  margin: 0;

  .home-page-section {
    margin-top: 56px;
  }

  .container-no-gap {
    padding: 0;
  }

  .cards-container {
    display: flex;
  }

  .highlight-container {
    width: 60%;
  }

  .list-container {
    width: 40%;
    padding-left: 70px;
  }

  .btn-see-more {
    display: inline-block;
    margin-top: 30px;
    color: $darkGreen;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;

    &::after {
      content: '>';
      padding-left: 8px;
      transition: padding-left 0.15s;
    }

    &:hover {
      cursor: pointer;
      color: $textColor;

      &::after {
        padding-left: 16px;
      }
    }
  }

  .map-content {
    // https://stackoverflow.com/questions/17982111/sass-variable-in-css-calc-function
    height: calc(100vh - #{$footerHeaderHeight});
  }
}

/*
  Responsive
*/

@include media-breakpoint-down(sm) {
}
