/* src/assets/styles/pages/_index.scss  */

.home-page {
  margin: 0;

  .home-page-section {
    margin-top: 56px;
  }

  .container-no-gap {
    padding: 0;
  }

  .cards-container {
    display: flex;

    .btn-see-more {
      font-size: 24px;
      line-height: 30px;
      margin-top: 30px;
    }
  }

  .highlight-container {
    width: 60%;
  }

  .list-container {
    width: 40%;
    padding-left: 70px;
  }

  .map-content {
    height: 400px;
  }
}

/*
  Responsive
*/

@media(max-width: 991px) {
  .home-page {
    .cards-container {
      flex-wrap: wrap;
    }

    .highlight-container {
      width: 100%;
    }

    .list-container {
      width: 100%;
      padding-left: 0;
      padding-top: 40px;
    }
  }
}
