extends ./../layouts/base

block vars
  - title = 'About'
  - bodyClass = 'about-page'
  - currentUrl = 'about.html'

block content
  main(role="main").flex-shrink-0
    .container-fluid
      h2.text-green.mb-5 About
      .banner-full.banner-slider.no-gradient.stretch-no-gutter.full-with-header.green-arrow
        .banner-item
          .banner-image
            img(src="assets/images/banner/building.jpg" alt="Building")
        .banner-item
          .banner-image
            img(src="assets/images/banner/beach.jpg" alt="Building")
        .banner-item
          .banner-image
            img(src="assets/images/banner/cbd.jpg" alt="Building")
        .banner-item
          .banner-image
            img(src="assets/images/banner/district.jpg" alt="Building")
        .banner-item
          .banner-image
            img(src="assets/images/banner/map.jpg" alt="Building")
      section.mt-5
        h3.text-green.font-weight-bold PIK 2
        p.text-thin.text-large Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
        p.text-thin Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
      section.mt-5
        h3.text-green.font-weight-bold Company Profile
        .banner-full.no-gradient.stretch-no-gutter.full-with-header.mt-3
          a.banner-item.lightbox-item.lightbox-iframe.lightbox-video(href="https://www.youtube.com/watch?v=giN13SWKyoM&ab_channel=destinasiid")
            .banner-image
              img(src="assets/images/banner/building.jpg" alt="Building")
        p.text-thin.mt-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
      section.mt-5
        h3.text-green.font-weight-bold Award
        ul.thumbnail-list.thumbnail-slider.all-images(total-shown="4")
          li.thumbnail-item
            img(src="assets/images/content/awards-1.png" alt="Logo")
          li.thumbnail-item
            img(src="assets/images/content/awards-2.jpeg" alt="Logo")
          li.thumbnail-item
            img(src="assets/images/content/awards-3.png" alt="Logo")
          li.thumbnail-item
            img(src="assets/images/content/awards-4.jpeg" alt="Logo")
          li.thumbnail-item
            img(src="assets/images/content/awards-3.png" alt="Logo")
          li.thumbnail-item
            img(src="assets/images/content/awards-4.jpeg" alt="Logo")
          li.thumbnail-item
            img(src="assets/images/content/awards-2.jpeg" alt="Logo")
          li.thumbnail-item
            img(src="assets/images/content/awards-1.png" alt="Logo")
          li.thumbnail-item
            img(src="assets/images/content/awards-4.jpeg" alt="Logo")
          li.thumbnail-item
            img(src="assets/images/content/awards-2.jpeg" alt="Logo")
      section.mt-5
        h3.text-green.font-weight-bold Konsultan
        ul.thumbnail-list.thumbnail-slider.transparent(total-shown="1")
          li.thumbnail-item
            .img-wrapper
              img(src="assets/images/content/awards-1.png" alt="Logo")
            .content-wrapper
              | Consultant from Indonesia. Projects ever undertaken such as Kota Kosablanka (Jakarta), Cilandak Town Square (Jakarta), and many more.
          li.thumbnail-item
            .img-wrapper
              img(src="assets/images/content/awards-2.jpeg" alt="Logo")
            .content-wrapper
              | Consultant from Indonesia. Projects ever undertaken such as Kota Kosablanka (Jakarta), Cilandak Town Square (Jakarta), and many more.
          li.thumbnail-item
            .img-wrapper
              img(src="assets/images/content/awards-3.png" alt="Logo")
            .content-wrapper
              | Consultant from Indonesia. Projects ever undertaken such as Kota Kosablanka (Jakarta), Cilandak Town Square (Jakarta), and many more.
          li.thumbnail-item
            .img-wrapper
              img(src="assets/images/content/awards-4.jpeg" alt="Logo")
            .content-wrapper
              | Consultant from Indonesia. Projects ever undertaken such as Kota Kosablanka (Jakarta), Cilandak Town Square (Jakarta), and many more.
      section.my-5
        h3.text-green.font-weight-bold Mitra
        ul.thumbnail-list.all-images.transparent.total-shown-8
          li.thumbnail-item
            img(src="assets/images/content/awards-1.png" alt="Logo")
          li.thumbnail-item
            img(src="assets/images/content/awards-2.jpeg" alt="Logo")
          li.thumbnail-item
            img(src="assets/images/content/awards-3.png" alt="Logo")
          li.thumbnail-item
            img(src="assets/images/content/awards-4.jpeg" alt="Logo")
          li.thumbnail-item
            img(src="assets/images/content/awards-3.png" alt="Logo")
          li.thumbnail-item
            img(src="assets/images/content/awards-4.jpeg" alt="Logo")
          li.thumbnail-item
            img(src="assets/images/content/awards-2.jpeg" alt="Logo")
          li.thumbnail-item
            img(src="assets/images/content/awards-1.png" alt="Logo")
          li.thumbnail-item
            img(src="assets/images/content/awards-3.png" alt="Logo")
          li.thumbnail-item
            img(src="assets/images/content/awards-4.jpeg" alt="Logo")
          li.thumbnail-item
            img(src="assets/images/content/awards-2.jpeg" alt="Logo")
          li.thumbnail-item
            img(src="assets/images/content/awards-1.png" alt="Logo")
          li.thumbnail-item
            img(src="assets/images/content/awards-1.png" alt="Logo")
          li.thumbnail-item
            img(src="assets/images/content/awards-2.jpeg" alt="Logo")
          li.thumbnail-item
            img(src="assets/images/content/awards-3.png" alt="Logo")
          li.thumbnail-item
            img(src="assets/images/content/awards-4.jpeg" alt="Logo")
        ul.pagination
          li.pagination-page
            a Prev
          li.pagination-page
            a Next
