extends ./../layouts/base

block vars
  - title = 'About'
  - bodyClass = 'about-page'
  - currentUrl = 'about.html'

block content
  main(role="main").flex-shrink-0
    .container-fluid
      h2.text-green.mb-5 About
      .banner-full.banner-slider.no-gradient.stretch-no-gutter.full-with-header.green-arrow
        .banner-item
          .banner-image
            img(src="assets/images/banner/building.jpg" alt="Building")
        .banner-item
          .banner-image
            img(src="assets/images/banner/beach.jpg" alt="Building")
        .banner-item
          .banner-image
            img(src="assets/images/banner/cbd.jpg" alt="Building")
        .banner-item
          .banner-image
            img(src="assets/images/banner/district.jpg" alt="Building")
        .banner-item
          .banner-image
            img(src="assets/images/banner/map.jpg" alt="Building")

