extends ./../layouts/base

block vars
  - title = 'Career'
  - bodyClass = 'career-page'
  - currentUrl = 'career.html'

block content
  main(role="main").flex-shrink-0
    .container-fluid
      .pik-banner.stretch-no-gutter.ratio-10-3.gradient
        .banner-item
          .banner-image
            img(src="assets/images/banner/building.jpg" alt="Building")
            .banner-gradient
      h2.text-dark-green.mt-5.mb-4 CAREER
      .collapsible-list#careers
        .collapsible-item
          .collapsible-header.collapsed(data-toggle='collapse' data-target='#career1')
            .icon-wrapper 
              i.icon-pik.ip-project-manager
            h4.font-weight-bold.collapsible-header-title Job Title
          #career1.collapse(data-parent='#careers')
            .collapsible-body
              h4.font-weight-bold.text-green Job Title
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
              ul
                li Consectetur adipiscing elit
                li Aliquip ex ea commodo
                li Excepteur sint occaeca
                li Fugiat nulla pariatu
                li Sed do eiusmod tempor
              .font-weight-bold.mb-2 Job Requirements
              ul
                li Consectetur adipiscing elit
                li Aliquip ex ea commodo
                li Excepteur sint occaeca
                li Fugiat nulla pariatu
                li Sed do eiusmod tempor
              .d-flex.justify-content-end.mt-2
                a.btn-green Apply Now
        .collapsible-item
          .collapsible-header.collapsed(data-toggle='collapse' data-target='#career2')
            .icon-wrapper 
              i.icon-pik.ip-manager
            h4.font-weight-bold.collapsible-header-title Job Title
          #career2.collapse(data-parent='#careers')
            .collapsible-body
              h4.font-weight-bold.text-green Job Title
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
              ul
                li Consectetur adipiscing elit
                li Aliquip ex ea commodo
                li Excepteur sint occaeca
                li Fugiat nulla pariatu
                li Sed do eiusmod tempor
              .font-weight-bold.mb-2 Job Requirements
              ul
                li Consectetur adipiscing elit
                li Aliquip ex ea commodo
                li Excepteur sint occaeca
                li Fugiat nulla pariatu
                li Sed do eiusmod tempor
              .d-flex.justify-content-end.mt-2
                a.btn-green Apply Now
        .collapsible-item
          .collapsible-header.collapsed(data-toggle='collapse' data-target='#career3')
            .icon-wrapper 
              i.icon-pik.ip-business-network
            h4.font-weight-bold.collapsible-header-title Job Title
          #career3.collapse(data-parent='#careers')
            .collapsible-body
              h4.font-weight-bold.text-green Job Title
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
              ul
                li Consectetur adipiscing elit
                li Aliquip ex ea commodo
                li Excepteur sint occaeca
                li Fugiat nulla pariatu
                li Sed do eiusmod tempor
              .font-weight-bold.mb-2 Job Requirements
              ul
                li Consectetur adipiscing elit
                li Aliquip ex ea commodo
                li Excepteur sint occaeca
                li Fugiat nulla pariatu
                li Sed do eiusmod tempor
              .d-flex.justify-content-end.mt-2
                a.btn-green Apply Now
        .collapsible-item
          .collapsible-header.collapsed(data-toggle='collapse' data-target='#career4')
            .icon-wrapper 
              i.icon-pik.ip-business-building
            h4.font-weight-bold.collapsible-header-title Job Title
          #career4.collapse(data-parent='#careers')
            .collapsible-body
              h4.font-weight-bold.text-green Job Title
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
              ul
                li Consectetur adipiscing elit
                li Aliquip ex ea commodo
                li Excepteur sint occaeca
                li Fugiat nulla pariatu
                li Sed do eiusmod tempor
              .font-weight-bold.mb-2 Job Requirements
              ul
                li Consectetur adipiscing elit
                li Aliquip ex ea commodo
                li Excepteur sint occaeca
                li Fugiat nulla pariatu
                li Sed do eiusmod tempor
              .d-flex.justify-content-end.mt-2
                a.btn-green Apply Now
        .collapsible-item
          .collapsible-header.collapsed(data-toggle='collapse' data-target='#career5')
            .icon-wrapper 
              i.icon-pik.ip-find-user-male
            h4.font-weight-bold.collapsible-header-title Job Title
          #career5.collapse(data-parent='#careers')
            .collapsible-body
              h4.font-weight-bold.text-green Job Title
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
              ul
                li Consectetur adipiscing elit
                li Aliquip ex ea commodo
                li Excepteur sint occaeca
                li Fugiat nulla pariatu
                li Sed do eiusmod tempor
              .font-weight-bold.mb-2 Job Requirements
              ul
                li Consectetur adipiscing elit
                li Aliquip ex ea commodo
                li Excepteur sint occaeca
                li Fugiat nulla pariatu
                li Sed do eiusmod tempor
              .d-flex.justify-content-end.mt-2
                a.btn-green Apply Now
        .collapsible-item
          .collapsible-header.collapsed(data-toggle='collapse' data-target='#career6')
            .icon-wrapper 
              i.icon-pik.ip-person-growth
            h4.font-weight-bold.collapsible-header-title Job Title
          #career6.collapse(data-parent='#careers')
            .collapsible-body
              h4.font-weight-bold.text-green Job Title
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
              ul
                li Consectetur adipiscing elit
                li Aliquip ex ea commodo
                li Excepteur sint occaeca
                li Fugiat nulla pariatu
                li Sed do eiusmod tempor
              .font-weight-bold.mb-2 Job Requirements
              ul
                li Consectetur adipiscing elit
                li Aliquip ex ea commodo
                li Excepteur sint occaeca
                li Fugiat nulla pariatu
                li Sed do eiusmod tempor
              .d-flex.justify-content-end.mt-2
                a.btn-green Apply Now
      ul.pagination
        li.pagination-page.active-dark
          a See More
