extends ./../layouts/base

block vars
  - title = 'CSR Program'
  - bodyClass = 'csr-program-page'
  - currentUrl = 'csr-program.html'

block content
  main(role="main").flex-shrink-0
    .container-fluid
      .pik-banner.stretch-no-gutter.ratio-10-3.gradient
        .banner-item
          .banner-image
            img(src="https://placekitten.com/1000/400" alt="CSR Banner")
            .banner-gradient
      h2.text-dark-green.mt-5.mb-4 CSR PROGRAM
      ul.csr-list
        li.csr-item
          a.card-square
            .img-wrapper.ratio-square
              img(src="https://placekitten.com/800/800" alt="CSR Banner")
            .card-content
              h4.font-weight-bold.my-4 Lorem ipsum dolor sit a
              h4.card-date DD/MM/YYYY
        li.csr-item
          a.card-square
            .img-wrapper.ratio-square
              img(src="https://placekitten.com/900/900" alt="CSR Banner")
            .card-content
              h4.font-weight-bold.my-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem
              h4.card-date DD/MM/YYYY
        li.csr-item
          a.card-square
            .img-wrapper.ratio-square
              img(src="https://placekitten.com/2500/500" alt="CSR Banner")
            .card-content
              h4.font-weight-bold.my-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem
              h4.card-date DD/MM/YYYY
        li.csr-item
          a.card-square
            .img-wrapper.ratio-square
              img(src="https://placekitten.com/800/800" alt="CSR Banner")
            .card-content
              h4.font-weight-bold.my-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem
              h4.card-date DD/MM/YYYY
        li.csr-item
          a.card-square
            .img-wrapper.ratio-square
              img(src="https://placekitten.com/800/800" alt="CSR Banner")
            .card-content
              h4.font-weight-bold.my-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem
              h4.card-date DD/MM/YYYY
        li.csr-item
          a.card-square
            .img-wrapper.ratio-square
              img(src="https://placekitten.com/800/800" alt="CSR Banner")
            .card-content
              h4.font-weight-bold.my-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem
              h4.card-date DD/MM/YYYY
        li.csr-item
          a.card-square
            .img-wrapper.ratio-square
              img(src="https://placekitten.com/800/800" alt="CSR Banner")
            .card-content
              h4.font-weight-bold.my-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem
              h4.card-date DD/MM/YYYY
      ul.pagination
        li.pagination-page.active
          a 1
        li.pagination-page
          a 2
        li.pagination-page
          a 3
        li.pagination-page
          a 4