extends ./../layouts/base

block vars
  - title = 'CSR Program'
  - bodyClass = 'csr-program-page'
  - currentUrl = 'csr-program.html'

block content
  main(role="main").flex-shrink-0
    .container-fluid
      .pik-banner.stretch-no-gutter.ratio-10-3.gradient
        .banner-item
          .banner-image
            img(src="assets/images/banner/building.jpg" alt="Building")
            .banner-gradient
      h2.text-dark-green.mt-5.mb-4 CSR PROGRAM
      p kwejfkew