extends ./../layouts/base

block vars
  - title = 'News and Events'
  - bodyClass = 'news-events'
  - currentUrl = 'news-events.html'

block content
  main(role="main").flex-shrink-0
    .container-fluid
      h2.text-green.mb-4 NEWS & EVENTS
      ul.news-events-container 
        li.news-events-item
          a.card-news
            .card-image
              img(src="assets/images/content/news-events.jpg" alt="Raffi Ahmad dan Rudy Salim")
            .card-content
              h3.card-title.font-weight-bold Raffi Ahmad dan Rudy Salim Gelar Groundbreaking Rans Prestige Sportstainment
              .card-date Nov 12, 2021
        li.news-events-item
          a.card-news
            .card-image
              img(src="assets/images/content/news-events.jpg" alt="Raffi Ahmad dan Rudy Salim")
            .card-content
              h3.card-title.font-weight-bold Raffi Ahmad dan Rudy Salim Gelar Groundbreaking Rans Prestige Sportstainment
              .card-date Nov 12, 2021
        li.news-events-item
          a.card-news
            .card-image
              img(src="assets/images/content/news-events.jpg" alt="Raffi Ahmad dan Rudy Salim")
            .card-content
              h3.card-title.font-weight-bold Raffi Ahmad dan Rudy Salim Gelar Groundbreaking Rans Prestige Sportstainment
              .card-date Nov 12, 2021
        li.news-events-item
          a.card-news
            .card-image
              img(src="assets/images/content/news-events.jpg" alt="Raffi Ahmad dan Rudy Salim")
            .card-content
              h3.card-title.font-weight-bold Raffi Ahmad dan Rudy Salim Gelar Groundbreaking Rans Prestige Sportstainment
              .card-date Nov 12, 2021
        li.news-events-item
          a.card-news
            .card-image
              img(src="assets/images/content/news-events.jpg" alt="Raffi Ahmad dan Rudy Salim")
            .card-content
              h3.card-title.font-weight-bold Raffi Ahmad dan Rudy Salim Gelar Groundbreaking Rans Prestige Sportstainment
              .card-date Nov 12, 2021
        li.news-events-item
          a.card-news
            .card-image
              img(src="assets/images/content/news-events.jpg" alt="Raffi Ahmad dan Rudy Salim")
            .card-content
              h3.card-title.font-weight-bold Raffi Ahmad dan Rudy Salim Gelar Groundbreaking Rans Prestige Sportstainment
              .card-date Nov 12, 2021
      ul.pagination
        li.pagination-page
          a 1
        li.pagination-page
          a 2
        li.pagination-page
          a 3
        li.pagination-page
          a 4
