extends ./../layouts/base

block vars
  - title = 'News and Events - Detail'
  - bodyClass = 'news-events-detail-page'
  - currentUrl = 'news-events-detail.html'

block content
  main(role="main").flex-shrink-0
    .container-fluid.py-4
      .pb-4
        a.text-thin.text-medium.text-grey < Back to list News & Events
      h2.text-dark-green.mb-4 NEWS & EVENTS
      .post-title-wrapper
        h2.font-weight-bold Akan Hadir! Indonesia Design District, Raksasa Mebel Center di PIK 2
        .font-weight-bold.text-green
          p 12 November 2021
      .img-wrapper
        img(src="assets/images/banner/district.jpg" alt="Content")
      p.text-thin Agung Sedayu Group saat ini tengah mengembangkan pusat desain dan furnitur terbesar dan terlengkap di Indonesia yang diberi nama Indonesia Design District (IDD). Mega proyek ini akan hadir di Pantai Indah Kapuk 2 (PIK2) di atas lahan seluas kurang lebih 10 hektare.
      p.text-thin CEO Agung Sedayu Group - Mal Hotel Div.2, Natalia Kusumo mengungkapkan bahwa pembukaan Indonesia Design District di PIK 2 ditargetkan akan dilakukan pada akhir 2022.
      p.text-thin Natalia menerangkan, Indonesia Design District di PIK 2 memiliki 3 keunggulan utama sebagai berikut: 
      .img-with-caption
        .img-wrapper.w-60.radius
          img(src="assets/images/banner/district.jpg" alt="Content")
        .img-caption
          | Image Rendering: dok. Agung Sedayu Group
      p.text-thin Ia mengungkapkan bahwa toko yang direncanakan seluas kurang lebih 200 m2 hingga di atas 1.000  m2. Selain itu juga direncanakan adanya paviliun-paviliun mungil yang diperuntukkan untuk food &  beverages. Sehingga secara total akan dapat menampung kurang lebih 200 tenant dari berbagai brand  terkemuka.
      p.text-thin Sementara itu, COO Agung Sedayu Group, Hotel Divisi 2, Ipeng Widjoyo menambahkan bahwa lokasi  Indonesia Design District di PIK 2 yang sangat dekat ke Bandara Internasional Soekarno Hatta menjadikannya pilihan yang sangat tepat untuk para pelaku bisnis membuka showroom Furnitur dan Home & Living yang menargetkan market export, import maupun lokal.
      p.text-thin “Calon pembeli dari luar negeri  maupun dalam negeri sangat mudah berkunjung ke sini. Cukup buka 1 cabang di sini  sebagai representative showroom. Jika membuka showroom brand lokal di sini, bisa untuk  ajang promosi ke market international. Sedangkan jika membuka showroom untuk brand import juga  sangat cocok untuk menjangkau market sampai ke seluruh pelosok Indonesia,” jelas Ipeng.
      .img-with-caption
        .img-wrapper.w-60.radius
          img(src="assets/images/banner/district.jpg" alt="Content")
        .img-caption
          | Image Rendering: dok. Agung Sedayu Group
      p.text-thin Managing Director Box Living, Marcel Opstal yang merupakan salah satu Indonesian high end furniture  brand yang telah berdiri sejak tahun 1998 di Jakarta ini mengaku turut menyambut baik rencana  Agung Sedayu Group dalam mengembangkan Indonesia Design District di PIK2.
      p.text-thin Menurutnya, Jakarta  sebagai megacity sudah lama menantikan adanya lifestyle home center sebagaimana kota-kota besar  lain di dunia. Ia menilai momen pembukaan Indonesia Design District sangat pas, yakni dengan kondisi  penanganan pandemi COVID-19 yang sangat baik dan sudah menunjukkan tanda-tanda akan selesai  sehingga dapat membuat pertumbuhan industri naik kembali. 
      p.text-thin Berminat untuk melirik peluang pasar furnitur di Tanah Air dan ambil bagian di Indonesia Design  District dari Agung Sedayu Group? Segera kunjungi website www.PIK2.com, atau langsung hubungi leasing representative PIK 2 di 0819 099 80008.