extends ./layouts/base

block vars
  - title = 'Homepage'
  - bodyClass = 'home-page'
  - currentUrl = 'index.html'

block content
  main(role="main").flex-shrink-0
    .container-fluid
      .banner-full.banner-slider
        .banner-item
          .banner-image
            img(src="assets/images/banner/building.jpg" alt="Building")
          .banner-text 
            b Project Agung Sedayu Group 
            | yang berkolaborasi dengan Salim Group adalah Pantai Indah Kapuk.
        .banner-gradient
