extends ./layouts/base

block vars
  - title = 'Homepage'
  - bodyClass = 'home-page'
  - currentUrl = 'index.html'

block content
  main(role="main").flex-shrink-0
    .container-fluid.container-no-gap
      .pik-banner.full-height.banner-slider.gradient
        .banner-item
          .banner-image
            img(src="assets/images/banner/building.jpg" alt="Building")
            .banner-gradient
          .banner-text
            .container-fluid
              .text-content
                b Project Agung Sedayu Group 
                | yang berkolaborasi dengan Salim Group adalah Pantai Indah Kapuk.
        .banner-item
          .banner-image
            img(src="assets/images/banner/beach.jpg" alt="Building")
            .banner-gradient
          .banner-text
            .container-fluid
              .text-content
                b Project Agung Sedayu Group 
                | yang berkolaborasi dengan Salim Group adalah Pantai Indah Kapuk.
        .banner-item
          .banner-image
            img(src="assets/images/banner/cbd.jpg" alt="Building")
            .banner-gradient
          .banner-text
            .container-fluid
              .text-content
                b Project Agung Sedayu Group 
                | yang berkolaborasi dengan Salim Group adalah Pantai Indah Kapuk.
        .banner-item
          .banner-image
            img(src="assets/images/banner/district.jpg" alt="Building")
            .banner-gradient
          .banner-text
            .container-fluid
              .text-content
                b Project Agung Sedayu Group 
                | yang berkolaborasi dengan Salim Group adalah Pantai Indah Kapuk.
        .banner-item
          .banner-image
            img(src="assets/images/banner/map.jpg" alt="Building")
            .banner-gradient
          .banner-text
            .container-fluid
              .text-content
                b Project Agung Sedayu Group 
                | yang berkolaborasi dengan Salim Group adalah Pantai Indah Kapuk.
    .container-fluid
      .home-page-section.news-events
        h2.text-dark-green.mb-4 NEWS & EVENTS
        .cards-container
          .highlight-container
            a.card-news(href="news-events-detail.html")
              .card-image
                img(src="assets/images/content/news-events.jpg" alt="Raffi Ahmad dan Rudy Salim")
              .card-content
                h4.font-weight-bold.card-title Raffi Ahmad dan Rudy Salim Gelar Groundbreaking Rans Prestige Sportstainment
                .card-date Nov 12, 2021
          .list-container
            a.card-flat(href="news-events-detail.html")
              .card-content
                h5.card-title.font-weight-bold PIK2 Sudah Serah Terimakan Lebih dari 500 unit Residensial Dalam 2 Bulan Terakhir
                .card-date Nov 25, 2021
            a.card-flat(href="news-events-detail.html")
              .card-content
                h5.card-title.font-weight-bold PIK2 Sudah Serah Terimakan Lebih dari 500 unit Residensial Dalam 2 Bulan Terakhir
                .card-date Nov 25, 2021
            a.card-flat(href="news-events-detail.html")
              .card-content
                h5.card-title.font-weight-bold PIK2 Sudah Serah Terimakan Lebih dari 500 unit Residensial Dalam 2 Bulan Terakhir
                .card-date Nov 25, 2021
            a.card-flat(href="news-events-detail.html")
              .card-content
                h5.card-title.font-weight-bold PIK2 Sudah Serah Terimakan Lebih dari 500 unit Residensial Dalam 2 Bulan Terakhir
                .card-date Nov 25, 2021
            a.btn-see-more(href="news-events.html") See More
    .container-fluid
      .home-page-section.map
        h2.text-dark-green.mb-4 MAPS
    .container-fluid.container-no-gap
        .map-content
          iframe(width='100%' height='100%' style='border:0' loading='lazy' allowfullscreen)
