/* src/assets/styles/layout/_page.scss  */
/*
  Responsive
*/

.post-title-wrapper {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

$gapBetweenColumn: 40px;

.two-columns {
  display: flex;
  align-items: flex-start;

  .img-content {
    width: 50%;
    + .content-column {
      padding-left: $gapBetweenColumn;
    }
  }

  .content-column {
    + .img-content {
      padding-left: $gapBetweenColumn;
    }
  }
}

.stretch-to-left {
  .two-columns {
    .img-content {
      width: 50%;

      + .content-column {
        width: 50%;
      }
    }

    .content-column {
      width: 50%;

      + .img-content {
        width: 50%;
      }
    }
  }
}


@media(max-width: 991px) {
  .stretch-to-left {
    width: 100% !important;
    margin-left: 0 !important;
  }

  .stretch-to-right {
    width: 100% !important;
    margin-right: 0 !important;
  }
  
  .two-columns {
    flex-direction: column;

    .img-content {
      width: 100% !important;

      + .content-column {
        width: 100% !important;
        padding-left: 0;
        padding-top: 24px;
      }
    }

    .content-column {
      width: 100% !important;

      + .img-content {
        width: 100% !important;
        padding-left: 0;
        padding-top: 24px;
      }
    }
  }

  .post-title-wrapper {
    width: 100%;

    h2 {
      font-size: 24px;
      line-height: 32px;
    }
  }
}

@media(max-width: 480px) {
  .column-data {
    + .column-data {
      padding-left: 16px !important;
    }
  }
}

