/* src/assets/styles/layout/_structure.scss  */

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $lexendDeca;
  font-size: 16px;
  font-weight: 400;
  color: $textColor;

  &:not(.home-page) {
    main {
      padding-top: calc(#{$headerHeight} + 56px);
    }
  }
}

a {
  &.view-more {
    &:after {
      content: '>';
      padding-left: 8px;
      transition: padding-left 0.15s;
    }

    &:hover {
      &:after {
        padding-left: 16px;
      }
    }
  }
}

h2 {
  font-size: 36px;
  line-height: 45px;
  font-weight: bold;
}

h5 {
  font-size: 24px;
  line-height: 30px;
}

.text-green {
  color: $green;

  .icon-pik {
    background-color: $green;
  }
}

.container-fluid {
  &:not(.container-no-gap) {
    max-width: 1680px;
  }
}

@media(max-width: 1765px) {
  .container-fluid {
    &:not(.container-no-gap) {
      max-width: 1366px;
    }
  }
}

@media(max-width: 1500px) {
  .container-fluid {
    &:not(.container-no-gap) {
      max-width: 1170px;
    }
  }
}
