/* src/assets/styles/layout/_structure.scss  */

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $lexendDeca;
  font-size: 16px;
  font-weight: 400;
  color: $textColor;

  &:not(.home-page):not(.product-listing-page):not(.csr-program-page):not(.csr-program-detail-page):not(.career-page) {
    main {
      padding-top: calc(#{$headerHeight} + 56px);
      padding-bottom: 50px;
    }
  }

  &.product-listing-page,
  &.csr-program-page,
  &.csr-program-detail-page,
  &.career-page {
    main {
      padding-top: $headerHeight;
      padding-bottom: 50px;
    }
  }
}

a {
  &.view-more {
    &::after {
      content: '>';
      padding-left: 8px;
      transition: padding-left 0.15s;
    }

    &:hover {
      cursor: pointer;

      &::after {
        padding-left: 16px;
      }
    }
  }

  &:hover {
    color: currentColor;
  }
}

h2 {
  font-size: 28px;
  line-height: 40px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  line-height: 30px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

h5 {
  font-size: 18px;
  line-height: 24px;
}

.text-green,
a.text-green:not([href]) {
  color: $green;

  .icon-pik {
    background-color: $green;
  }

  &:hover {
    color: $green;
  }
}

.text-dark-green,
a.text-dark-green:not([href]) {
  color: $darkGreen;

  .icon-pik {
    background-color: $darkGreen;
  }

  &:hover {
    color: $darkGreen;
  }
}

.text-grey,
a.text-grey:not([href]) {
  color: $grey;

  .icon-pik {
    background-color: $grey;
  }

  &:hover {
    color: $grey;
  }
}

.text-blue,
a.text-blue:not([href]) {
  color: $blue;

  .icon-pik {
    background-color: $blue;
  }

  &:hover {
    color: $blue;
  }
}

.container-fluid {
  &:not(.container-no-gap) {
    max-width: 1680px;
  }
}

p {
  font-size: 16px;
  line-height: 28px;
}

.text-xmedium {
  font-size: 18px;
}

.text-medium {
  font-size: 20px;
}

.text-large {
  font-size: 24px;
}

.text-xxlarge {
  font-size: 70px;
}

.text-xxxxlarge {
  font-size: 90px;
}

.text-thin {
  font-weight: 300;
}

a:not([href]) {
  cursor: pointer !important;

  &:hover {
    cursor: pointer !important;
  }
}

.btn-light-radius {
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
  border-radius: 60px;
  font-size: 20px;
  font-weight: bold;
  color: $green;
  padding: 10px 20px;
  line-height: 37px;
  transition: 0.15s box-shadow, 0.15s background-color, 0.15s color;

  &:not([href]) {
    color: $green;
  }

  &:hover {
    background-color: $green;
    color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0);

    &:not([href]) {
      color: #fff;
    }
  }
}

.btn-see-more {
  display: inline-block;
  color: $darkGreen;
  font-weight: 700;

  &::after {
    content: '>';
    padding-left: 8px;
    transition: padding-left 0.15s;
  }

  &:hover {
    cursor: pointer;
    color: $textColor;

    &::after {
      padding-left: 16px;
    }
  }

  &:not([href]) {
    color: $darkGreen;

    &:hover {
      color: $darkGreen;
    }
  }
}

// for measuring scrollbar width
.scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}

@media(max-width: 1765px) {
  .container-fluid {
    &:not(.container-no-gap) {
      max-width: 1366px;
    }
  }
}

@media(max-width: 1500px) {
  .container-fluid {
    &:not(.container-no-gap) {
      max-width: 1170px;
    }
  }
}
