/*
  Base
*/
@import './base/fonts';
@import './base/custom';
@import './base/icons';

/*
  Bootstrap
*/
@import '~modules/bootstrap/scss/bootstrap';

/* 
  Libraries
*/
$slick-font-path: '~modules/slick-carousel/slick/fonts/' !default;
$slick-loader-path: '~modules/slick-carousel/slick/' !default;
$slick-arrow-color: $color !default;
@import '~modules/slick-carousel/slick/slick.scss';
@import '~modules/slick-carousel/slick/slick-theme.scss';
@import '~modules/magnific-popup/src/css/main.scss';

/*
  Utils
*/
@import './utils/mixins';

/*
  Components
*/
@import './components/header';
@import './components/footer';
@import './components/navbar';
@import './components/card-news';
@import './components/card-flat';
@import './components/pik-banner';
@import './components/pagination';
@import './components/lightbox-item';
@import './components/thumbnail-list';
@import './components/img-wrapper';
@import './components/img-with-caption';
@import './components/card-nav';
@import './components/card-detailed';

/*
  Layout
*/
@import './layout/structure';
@import './layout/page';

/*
  Pages
*/
@import './pages/index';
@import './pages/news-events';
@import './pages/news-events-detail';
@import './pages/about';
@import './pages/service';
@import './pages/contact';
@import './pages/product-listing';
