//- src/views/components/footer.pug

footer.footer.mt-auto
  .container-fluid
    .chat-us
      a.btn-chat.chat-whatsapp
        i.icon-pik.ip-whatsapp
    .footer-container
      ul.footer-nav.marketing-gallery
        li.footer-item
          h4.item-title.font-weight-bold Marketing Gallery PIK 2
          .item-content.pt-5
            | Jl. Marina Indah Raya No.1
            br
            | Pantai Indah Kapuk
            br
            | Jakarta Utara
            br
            | 14470
      ul.footer-nav.contact-us
        li.footer-item
          h4.item-title.font-weight-bold.mb-4 Contact us
          .item-content
            a.d-flex.contact-telephone
              i.icon-pik.ip-telephone
              span.ml-3 021 588 8000
          ul.item-content.socmed-list.socmed-button.mt-4
            li.socmed-item
              a.socmed-link
                i.icon-pik.ip-whatsapp
                span WhatsApp
            li.socmed-item
              a.socmed-link
                | View Catalog
          ul.item-content.socmed-list.mt-4
            li.socmed-item.item-text
              | Follow us
            li.socmed-item
              a.socmed-link
                i.icon-pik.ip-instagram
            li.socmed-item
              a.socmed-link
                i.icon-pik.ip-facebook 
            li.socmed-item
              a.socmed-link
                i.icon-pik.ip-youtube
      ul.footer-nav.quick-access
        li.footer-item
          h4.item-title.font-weight-bold.mb-4 Quick Access
          ul.footer-item-links
            li.footer-item-link
              a.footer-link.view-more E-Catalog
      ul.footer-nav.explore
        li.footer-item
          h4.item-title.font-weight-bold.mb-4 Explore
          ul.footer-item-links
            li.footer-item-link
              a.footer-link About
            li.footer-item-link
              a.footer-link Product Listing
            li.footer-item-link
              a.footer-link Investment Opportunity
            li.footer-item-link
              a.footer-link Facility
            li.footer-item-link
              a.footer-link CSR Program
            li.footer-item-link
              a.footer-link News & Events
            li.footer-item-link
              a.footer-link Career
