//- src/views/components/header.pug

header.header
  nav(role='navigation', class=['navbar', 'fixed-top', 'navbar-expand-lg'])
    a.navbar-brand(href='index.html' title='Frontend')
      img(src='assets/images/ui/logo.png' alt='PIK 2')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar-dropdown')
      span.navbar-toggler-icon
    #navbar-dropdown.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='index.html' title='About')
            | About
        li.nav-item.has-child
          a.nav-link(href='index.html' title='Product Listing')
            | Product Listing
          .child-wrapper
            .child-container
              ul.nav-child
                li.child-item
                  h5.child-link.title
                    i.icon-pik.ip-house
                    span Landed Housing
                li.child-item
                  a.child-link(href='#') Osaka Residence
                li.child-item
                  a.child-link(href='#') Cluster Georgia
                li.child-item
                  a.child-link(href='#') Kuningan Village
                li.child-item
                  a.child-link.view-more(href='#') View More
              ul.nav-child
                li.child-item
                  h5.child-link.title
                    i.icon-pik.ip-apartment
                    span Apartment
                li.child-item
                  a.child-link(href='#') Tokyo Riverside
                li.child-item
                  a.child-link(href='#') Osaka Riverview
                li.child-item
                  a.child-link(href='#') Ishikawa Tower
                li.child-item
                  a.child-link.view-more(href='#') View More
              ul.nav-child
                li.child-item
                  h5.child-link.title
                    i.icon-pik.ip-shop
                    span Shophouses
                li.child-item
                  a.child-link(href='#') Rukan Mega Kuningan
                li.child-item
                  a.child-link(href='#') Rukan Asian Boulevard
                li.child-item
                  a.child-link(href='#') Rukan Asia Afrika
                li.child-item
                  a.child-link.view-more(href='#') View More
              ul.nav-child
                li.child-item
                  h5.child-link.title
                    i.icon-pik.ip-downtown
                    span Commercial Lot
                li.child-item
                  a.child-link.new-link(href='#') Indonesia Design District
                li.child-item
                  a.child-link(href='#') Mega Kuningan
                li.child-item
                  a.child-link(href='#') Orchard Boulevard
                li.child-item
                  a.child-link.view-more(href='#') View More
              ul.nav-child
                li.child-item
                  h5.child-link.title
                    i.icon-pik.ip-virtual-reality
                    span Virtual Tour
                li.child-item
                  a.child-link.new-link(href='#') Pantai Indah Kapuk
                li.child-item
                  a.child-link(href='#') Mega Kuningan
                li.child-item
                  a.child-link(href='#') Orchard Boulevard
                li.child-item
                  a.child-link.view-more(href='#') View More
        li.nav-item
          a.nav-link(href='index.html' title='Investment Opportunity')
            | Investment Opportunity
        li.nav-item
          a.nav-link(href='index.html' title='Facility')
            | Facility
        li.nav-item
          a.nav-link(href='index.html' title='Tourism')
            | Tourism
        li.nav-item
          a.nav-link(href='index.html' title='CSR Program')
            | CSR Program
        li.nav-item
          a.nav-link(href='index.html' title='News & Events')
            | News & Events
        li.nav-item
          a.nav-link(href='index.html' title='Career')
            | Career
